* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(180, 163, 253);
}
li {
  float: right;
}
li a {
  display: inline-block;
  color: rgb(7, 7, 7);
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
li a:hover {
  color: white;
  background-color: rgb(85, 86, 150);
}
img {
  width: 100%;
}
.footer {
  float: left;
  width: 100%;
  background-color: rgb(173, 168, 243);
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 5px;
}
@media only screen and (max-width: 1100px) {
  ul {
    background-color: rgb(105, 89, 184);
  }
  body h2 {
    color: aqua;
  }
  body p {
    color: rgb(171, 75, 140);
  }
  body h3 {
    color: blue;
  }
  .footer {
    background-color: rgb(48, 167, 102);
  }
}
@media only screen and (max-width: 720px) {
  ul {
    background-color: rgb(68, 72, 167);
  }
  body h2 {
    color: rgb(29, 103, 103);
  }
  body p {
    color: rgb(53, 13, 41);
  }
  body h3 {
    color: rgb(141, 42, 101);
  }
  .footer {
    background-color: rgb(48, 167, 102);
  }
}
