* {
  box-sizing: border-box;
}
/*Style for Header */
ul {
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(180, 163, 253);
}
li {
  float: right;
}
li a {
  display: inline-block;
  color: rgb(7, 7, 7);
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
li a:hover {
  color: white;
  background-color: rgb(85, 86, 150);
}
img {
  width: 100%;
}
/* Style for List */
.list {
  float: left;
  width: 20%;
  padding: 5px;
  text-align: left;
  margin-top: 1px;
}
.list a {
  background-color: #ddd4f3;
  border-radius: 10px;
  padding: 5px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}
/* Style for Aside */
.aside {
  float: left;
  width: 30%;
  padding: 10px;
  margin-top: 1px;
  margin-bottom: 2px;
  text-align: left;
}

/* Style for Main */
.main {
  background-color: rgb(212, 217, 245);
  float: left;
  width: 50%;
  border-radius: 15px;
  margin-top: 1px;
  padding: 0 20px;
}

/* Style for Footer */
.footer {
  float: left;
  width: 100%;
  background-color: rgb(173, 168, 243);
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 5px;
}

/* Responsive Design for tablets and large phones, 1100px and down */
@media only screen and (max-width: 1100px) {
  ul {
    background-color: rgb(169, 209, 176);
  }
  .list {
    width: 20%;
    font-size: 1vw;
  }
  .list a {
    background-color: rgb(235, 218, 196);
  }
  .main {
    width: 60%;
    background-color: rgb(245, 250, 174);
    margin-bottom: 2px;
  }
  .aside {
    width: 20%;
    font-size: 1vw;
  }
  .footer {
    background-color: rgb(253, 252, 192);
  }
}

/* Responsive Design for mobile phones, 720px and down */
@media only screen and (max-width: 720px) {
  ul {
    background-color: rgb(152, 224, 165);
  }
  .list {
    width: 100%;
    font-size: 4vw;
  }
  .list a {
    background-color: rgb(196, 235, 199);
  }
  .main {
    width: 100%;
    background-color: rgb(174, 250, 180);
  }
  .aside {
    width: 100%;
    font-size: 4vw;
  }
  .footer {
    background-color: rgb(192, 253, 202);
  }
  li {
    float: right;
    width: 25%;
  }
  li:hover {
    color: white;
    background-color: rgb(85, 86, 150);
  }
}
